.userContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0px auto;
}

.userInfoContainer {
  width: 1190px;
  margin: 40px auto 0;
}

/* Dashboard Styles */
.userInformationBox {
  display: flex;
  justify-content: center;
}

.userDashboardMenu {
  width: 20%;
  height: 865px;
  display: block;
  border-radius: 12px;
  box-shadow: 0px 1px 6px 0px rgba(108, 117, 125, 0.3);
  flex-shrink: 0;
}

.dashboardUserInfo {
  width: 100%;
  padding: 12px 12px 12px 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 48px;
    height: 48px;
    margin-right: 8px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.dashboardNavigationUserName {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h5, h6 {
    margin: 0;
  }
}

.dashboardUserMenu {
  height: 304px;
  border-top: 1px solid rgba(108, 117, 125, 0.3);
  border-bottom: 1px solid rgba(108, 117, 125, 0.3);
}

 /* Main Dashboard */
.dashboardContainer {
  margin-left: 24px;
}

.dashboardUserName {
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

.dashboardContentContainer {
  width: 940px;
  border-radius: 8px;
  border: 1px solid rgba(108, 117, 125, 0.3);
}

.dashboardContentTabSection {
  position: relative;
}

.dashboardContentTabSectionHolder {
  display: flex;
  position: relative;
  border-bottom: 1px solid rgba(108, 117, 125, 0.3);
  min-height: 48px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.activeTabButton {
  display: inline-block;
  box-sizing: border-box;
  height: 52px;
  padding: 16px 24px;
  line-height: 20px;
  font-weight: 700;
  color: #3A86FF;
  text-transform: capitalize;
  font-size: 14px;
  cursor: pointer;
}

.nonActiveTabButton {
  display: inline-block;
  box-sizing: border-box;
  height: 52px;
  padding: 16px 24px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(108, 117, 125);
  text-transform: capitalize;
  font-size: 14px;
  cursor: pointer;
}

/* Settings View */
.dashboardViewContainer {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 16px 0px;
  max-height: 607px;
}

.settingsPhotoBox {
  display: block;
  max-width: 322px;
  padding: 16px;
}

.settingsViewPhotoSection {
 display: block;
 max-width: 322px;
 padding: 16px; 
}

.photoUploadSection {
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 1px 4px 0px rgba(108, 117, 125, 0.3);
  cursor: default;
  margin: 0px 0px 24px;

  p {
    font-family: 'Open Sans', sans-serif;
  }
}

.photoUploadInput {
  position: absolute;
  top: 290px;
  height: 40px;
  width: 258px;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.photoWrapper {
  border-radius: 4px;
  background-image: none;
  display: block;
  height: 258px;
  width: 258px;
  object-fit: contain;
  margin-bottom: 16px;
}

.photoFrame {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.photoUploadButton {
  color:rgb(108, 117, 125);
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  height: 40px;
  line-height: 24px;
  width: 100%;
  border-radius: 8px;
  font-weight: 700;
  outline: none;
  padding: 0px 16px;
  transition: background 0.8 ease 0s;
  cursor: pointer;
  display: block;
  background: radial-gradient(circle, transparent 1%, transparent 1%) center center / 15000% transparent;
  border: 1px solid rgba(108, 117, 125, 0.3);
  text-indent: initial;
  position: relative;
  margin-bottom: 16px;
}

.photoUploadInformation {
  font-size: 12px;
  max-width: 400px;
  line-height: 1.6;
}

.passwordButton {
  color: rgb(108, 117, 125);
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  height: 40px;
  line-height: 24px;
  width: 100%;
  border-radius: 8px;
  font-weight: 700;
  outline: none;
  padding: 0px 16px;
  transition: background 0.8 ease 0s;
  cursor: pointer;
  display: block;
  background: radial-gradient(circle, transparent 1%, transparent 1%) center center / 15000% transparent;
  border: 1px solid rgba(108, 117, 125, 0.3);
  text-indent: initial;
  position: relative;
  margin-bottom: 8px;
  
  &:hover {
    color: rgba(108, 117, 125, 0.5);
  }

  span {
    display: block;
    font-size: inherit;
    opacity: 1;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    top: 0px;
    transition: opacity 0.3s linear 0s, top 0.3s, linear 0s;
    white-space: nowrap;

  }
}

.settingsViewInformationSection {
  display: block;
  padding: 16px;
}

.userInformationMainWrapper {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userInformationMainTitle {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  display: block;
  position: relative;
  line-height: 20px;
  color: rgb(108, 117, 125);
  text-decoration: initial;
  // margin-top: 12px;
  margin-right: 12px;
}

.userInformationChangeLink {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.75rem;
  color: #3A86FF;
}

.userInformationNameWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  font-size: 0.8125rem;
}


.userInformationTitle {
  font-family: 'Open Sans', sans-serif;
  width: 114px;
}

.userInformationContent {
  font-family: 'Open Sans', sans-serif;
  margin-right: 12px;
}

.uploadLoadingContainer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.backgroundOverlay {
  width: 100%;
  height: 100%;
  background-color: rgb(49, 53, 59);
  opacity: 0.68;
  position: fixed;
  left: 0px;
  top: 0px;
  overflow: hidden;
  z-index: 50;
  will-change: opacity;
  transition: opacity 300ms cubic-bezier(0, 0, 0.3, 1) 0s;
}

.modalOverlay {
  width: 100%;
  height: 100%;
  background-color: rgb(49, 53, 59);
  opacity: 0.68;
  position: fixed;
  left: 0px;
  top: 0px;
  overflow: hidden;
  z-index: 50;
  will-change: opacity;
  transition: opacity 300ms cubic-bezier(0, 0, 0.3, 1) 0s;
}

.modalBox {
  display: block;
  z-index: 60;
  opacity: 1;
  min-width: 500px;
  background: rgb(255, 255, 255);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 32px;
  text-align: center;
  transition: opacity 0.2s ease 0s;
  box-shadow: 0px 1px 6px rgba(108, 117, 125, 0.3);
  max-width: 460px;
  line-height: 1.5;
}

.closeButton {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 16px;
  border: none;
  appearance: none;
}

.modalBoxTitle {
  display: block;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 30px;
  text-decoration: initial;
  margin: 0px 0px 16px;
}

.modalBoxSubtitle {
  max-width: 360px;
  margin: 0px auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
}

.modalBoxFormWrapper {
  text-align: left;
  margin: 24px 0px 32px;
}

.nameLabel {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  display: inline-block;
  pointer-events: none;
  margin-bottom: 4px;
  font-family: 'Open Sans', sans-serif;
}

.formInputWrapper {
  position: relative;
  margin-bottom: 24px;
}

.inputWrapper {
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex: 1 1 0%;
  position: relative;
  overflow: hidden;
  transition: border-color 280ms ease 0s;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(108, 117, 125, 0.3);
}

.inputWrapperFocused {
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex: 1 1 0%;
  position: relative;
  overflow: hidden;
  transition: border-color 280ms ease 0s;
  background-color: rgb(255, 255, 255);
  border: 1px solid #3A86FF;
}

.inputBox {
  padding-left: 12px;
  padding-right: 12px;
}

.globalStyling {
  min-width: 0;
  min-height: 0;
  width: 100%;
  color: rgb(108, 117, 125);
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  line-height: 22px;
  border: none;
  outline: none;
  height: auto;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.nameInputLink {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.75rem;
  color: #3A86FF;
  // width: 100%;
}

.genderFormWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.genderFormWrapper {
  display: flex;
  align-items: center;
  margin: 0px 21px;
}

.genderLogo {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.submitButtonDisabled {
  color: #FFF;
  font-family: 'Open Sans',sans-serif;
  font-size: 1rem;
  height: 48px;
  line-height: 22px;
  border-radius: 8px;
  font-weight: 600;
  outline: none;
  padding: 0px 16px;
  background-color: #3A86FF;
  // background: 0.8s ease 0s;
  opacity: 0.5;
  cursor: not-allowed;
  border: none;
  text-indent: initial;
  position: relative;
  width: 160px;
}

.submitButtonEnabled {
  color: #FFF;
  font-family: 'Open Sans',sans-serif;
  font-size: 1rem;
  height: 48px;
  line-height: 22px;
  border-radius: 8px;
  font-weight: 600;
  outline: none;
  padding: 0px 16px;
  background-color: #3A86FF;
  // background: 0.8s ease 0s;
  cursor: pointer;
  display: inline-block;
  border: none;
  text-indent: initial;
  position: relative;
  width: 160px;
  
  &:hover {
    background-color: #3A78FF;
  }
}

.loadingSpan {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radioButtonWrapper {
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
}

.radioButtonInput {
  width: 0px;
  height: 0px;
  opacity: 0;
  position: absolute;
  appearance: none;
  margin: 0px;
  padding: 0px;

  &:checked + .afterSelected {
    border-color: #3A86FF;

    &::before {
      background: #3A86FF;
      transform: scale(1);
    }
  }
}

.radioButtonSpan {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border: 2px solid rgb(108, 117, 125);
  border-radius: 50%;
  position: relative;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    inset: 2px;
    border-radius: 50%;
    transform: scale(0);
    transform-origin: center;
    transition: transform 280ms ease 0s;
  }
}

.birtdateFormWrapper {
  position: relative;
  margin-bottom: 24px;
  display: flex;
  width: 400px;
  margin-left: 18px;
  margin-right: 18px;
  justify-content: space-between;

  ul {
    max-height: 125px;
  }
}

.defaultButton {
  display: flex;
  align-items: center;
  padding: 0px 8px 0px 12px;
  cursor: pointer;
  border: 1px solid rgba(108, 117, 125, 0.3);
  user-select: none;
  transition: border-radius 280ms ease 0s;
  width: 100%;
  height: 40px;
  font-size: 0.675rem;
  line-height: 40px;
  background-color: #fff;
  pointer-events: all;
  text-align: left;

  &::after {
    content: "";
    display: inline-block;
    background-image: url("/src/components/Assets/caret-down-fill.svg");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: transform 280ms ease 0s, background-color 0.12s ease 0s;
    transform: rotate(0deg);
    border-radius: 50%;
  }

  &:focus {
    outline: none;
    &::after {
      background-color: rgba(108, 117, 125, 0.1);
    }
  }

  &:hover {
    &::after {
      background-color: rgba(108, 117, 125, 0.1);
    }
  }


}

.defaultLabel {
  flex: 1 1 0%;
  color: #6C757D;
  cursor: pointer;
  overflow: hidden;
  padding-right: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
  }
}

.dateNumberListWrapper {
  max-height: 222px;
  z-index: 20;
}

.dropdownDefault {
  position: relative;
  width: 100px;

  .dateButton {
    border-radius: 8px;
  }

  .dateNumberList {
    transition: transform 280ms ease-out 0s, opacity 0.16s ease 0s, visibility 0.16s ease 0s;
    width: 100%;
    padding: 0px 4px;
    overflow: auto;
    position: absolute;
    background: #FFF;
    border: 1px solid rgba(108, 117, 125, 0.3);
    border-radius: 0px 0px 8px 8px;
    transform-origin: center top;
    scroll-behavior: smooth;
    transform: translateY(-8px);
    opacity: 0;
    visibility: hidden;
  }
}

.dropdownOpened {
  position: relative;
  width: 100px;

  .dateButton {
    border-radius: 8px 8px 0px 0px;
    border-bottom: 1px solid transparent;
  }

  .dateNumberList {
    transition: transform 280ms ease-out 0s, opacity 0.16s ease 0s, visibility 0.16s ease 0s;
    width: 100%;
    padding: 0px 4px;
    overflow: auto;
    position: absolute;
    background: #FFF;
    border: 1px solid rgba(108, 117, 125, 0.3);
    border-radius: 0px 0px 8px 8px;
    transform-origin: center top;
    scroll-behavior: smooth;
  }

  .dateButton {
    &::after {
      transform: rotate(-180deg);
    }
  }
}

.dateListWrapper {  
  list-style: none;
  padding: 0px;
  margin: 4px 0px;
}

.dateListButton {
  cursor: pointer;
  list-style: none;
  outline: none;
  position: relative;
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 4px 0px;

  &::before {
    content: "";
    position: absolute;
    left: -4px;
    top: 0px;
    height: 100%;
    width: 3px;
    background-color: #3A86FF;
    opacity: 0;
    transition: opacity 0.08s ease-in 0s;
  }

  button {
    display: flex;
    align-items: center;
    position: relative;
    padding: 6px 8px 6px 5px;
    color: #6C757D;
    background-color: rgba(108, 117, 125, 0);
    font-size: 0.875rem;
    font-weight: 400;
    min-height: 32px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-image: initial;
    text-align: left;
    line-height: 1.33;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    border-left: 3px solid transparent;
    appearance: none;

    span {
      font-family: 'Open Sans', sans-serif;
    }
  }

  &:hover {
    button {
      background-color: rgba(108, 117, 125, 0.3);
    }
  }
}

/* Address View */
