.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  // height: 72px;
  padding: 1.5rem 0 0.5rem 0;
  // margin-bottom: 0.5em;
  background: transparent;

  img {
    width: 160px;
  }
}