.backgroundContainer {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.registerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.logoContainer {
  padding: 1.5rem 0 0.5rem 0;
  z-index: 2;
}

.logoContainer img {
  width: 10rem;
}

.registerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50vw;
  height: auto;
  margin: 2.5rem 0 0.5rem 0;
}

.registerContentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
}

.registerForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1.5rem 2.75em 2rem 2.75em;
  width: 50em;
  height: auto;
  margin: 0 0 0 6em;
  background-color: #FFF;
  border: 0.5px solid #DEE2E6;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(108, 117, 125, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(108, 117, 125, 0.5);
}

.registerForm h1, .registerForm h2, .registerForm h3, .registerForm h4, .registerForm h5 {
  margin: 0;
  padding: 0;
}

.registerForm .boxTitle {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.25rem;
}

.registerForm span {
  display: inline-block;
  margin-top: 0.25rem;
  font-size: 0.875rem;
}

.registerForm span .link {
  color: #3A86FF;
}

.registerForm .formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.registerForm .formContainer .inputWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.registerForm .formContainer .inputWrapper label {
  font-size: 0.75rem;
}

.registerForm .formContainer .inputWrapper .inputTitle {
  margin-bottom: 0.25rem;
}

.registerForm .formContainer .inputWrapper input {
  width: 100%;
  height: 2.75rem;
  padding: 0.5rem 0.75em;
  font-size: 0.875rem;
  border-radius: 0.5em;
  border: 0.5px solid #DEE2E6;
}

.registerForm .formContainer .inputWrapper input:not(:focus):invalid {
  outline: none;
  border-color: #E01E37;
}

.registerForm .formContainer .inputWrapper input:focus {
  border-radius: 0.375em;
  border-color: #3A86FF;
  outline: none;
}

.registerForm .formContainer .inputWrapper input:focus:invalid {
  border-color: #E01E37;
}

.registerForm .formContainer .inputWrapper input:invalid {
  outline: none;
  border-color: none;
}

.registerForm .formContainer .inputWrapper .inputPhoneNumber::-webkit-outer-spin-button, .registerForm .formContainer .inputWrapper .inputPhoneNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.registerForm .formContainer .inputWrapper .inputPhoneNumber[type=number] {
  -moz-appearance: textfield;
}

.registerForm .formContainer .inputWrapper .bottomText {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.registerForm .formContainer .inputWrapper .bottomText::before {
  content: 'Example:email@adolloka.com';
}

.registerForm .formContainer .inputWrapper .bottomTextNone {
  visibility: hidden;
  font-weight: 600;
  font-size: 0.75rem;
  min-height: 17px;
}

.registerForm .formContainer .inputWrapper .bottomTextNone::before {
  content: "";
}

.registerForm .formContainer .inputWrapper .passwordSuccess {
  visibility: visible;
  font-weight: 600;
  font-size: 0.75rem;
}

.registerForm .formContainer .inputWrapper .passwordSuccess::after {
  color: #0EAD69;
  content: "Password is match";
}

.registerForm .formContainer .inputWrapper .passwordFail {
  visibility: visible;
  font-weight: 600;
  font-size: 0.75rem;
}

.registerForm .formContainer .inputWrapper .passwordFail::after {
  color: #E01E37;
  content: "Password doesn't match";
}

.registerForm .formContainer .submitButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 3.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #FFF;
  background-color: #3A86FF;
  border-radius: 0.5em;
  border: none;
  margin-bottom: 1.5rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.registerForm .formContainer .submitButton:hover {
  background-color: #3a78ff;
}

.registerForm .formContainer .submitButtonDisabled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 3.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #FFF;
  background-color: #3A86FF;
  opacity: 0.5;
  border-radius: 0.5em;
  border: none;
  margin-bottom: 1.5rem;
  cursor: not-allowed;
}

.registerForm .policy {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.75rem;
}

.registerForm .policy a {
  font-weight: 600;
  color: #3A86FF;
}

.registerForm .policy span {
  font-size: 0.75rem;
}

.registerFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-top: 2.5rem;
}

.registerFooter .creditsContainer {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.registerFooter .creditsContainer .credit {
  font-size: 0.8125rem;
}

.registerFooter .creditLink {
  margin-left: 0.75em;
  padding-left: 0.75em;
  font-size: 0.8125rem;
  color: #FFF;
  border-left: 0.5px solid #FFF;
}
/*# sourceMappingURL=Register.module.css.map */